/*-- scss:defaults --*/

// import fonts

@import url(https://fonts.googleapis.com/css?family=Cabin:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono:300,400,500,600,700);

// set font

$font-family-sans-serif: Cabin, sans-serif !default;
$font-family-monospace: Fira Mono !default;
$primary: #FF4136;

/*-- scss:rules --*/

// Customise headers

h1, h2, h3, h4, h5, h6 {
  font-family: Cabin;
  font-weight: 100
}
