/*-- scss:defaults --*/

// import font

@import url(https://fonts.googleapis.com/css?family=Cabin);
@import url(https://fonts.googleapis.com/css?family=Fira+Mono);


// set main font

$font-family-sans-serif: Cabin, sans-serif !default;
$font-family-monospace: Fire Mono, !default;

/*-- scss:rules --*/

// Customise header fonts

h1, h2, h3, h4, h5, h6 {
  font-family: Cabin;
  font-weight: 100
}
